@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rufina:wght@700&family=Sarala&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7s;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sarala', sans-serif;;
    background: #23232e;
    height: 15vh;
    padding-left: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-left: 32px;
    gap: 21px;
}

.nav-list li {
    display: block;
}

main {
    width: 120px;
    background-size: cover;
    height: 1500vh;
}


.conteudo {
    border-top: 0.4px solid #00080f;
    margin-bottom: 48px;
    padding: 20px;
}

.conteudo-principal {
    display: flex;
    align-items: center;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    padding-top: 15px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Righteous', 'cursive';
    font-size: 65px;
    color: #002244;
}
.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding: 5px;
}

.conteudo-principal-escrito-instagram {
    color: white;
    font-size: 15px;
    background-color: #002244;
    width: 190px;
    height: 65px;
    border: none;
    box-shadow: 8px 7px 7px #002244;
    border-radius: 30px;
    font-family: 'Sarala', sans-serif;
    padding: 10px;
    margin-left: 20px;
}

.conteudo-principal-escrito-instagram:hover {
    background-color: hwb(283 0% 0%)
}

.conteudo-principal-img {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #002244;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

footer {
    background-color: #23232e;
}

.rodape {
    padding-top: 5px;
    display: block;
    margin: 0 auto;
    
    
}

.info-rodape {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}