@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rufina:wght@700&family=Sarala&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    min-height: 100%;
    background: #DFF6FF;
}

.corpo-1 {
    background-image: linear-gradient(to left,  #ffffff,#ffffff);
    background-size: 500% 100%;
    animation: degrade-animado 15s infinite alternate;
}

@keyframes degrade-animado {

    0%{
        background-position-x: 0%;
    }
    100%{background-position-x: 100%;}
    
}

.cabecalho-1 {

    position: fixed;
    width: 100%;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7s;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sarala', sans-serif;;
    background: #23232e;
    height: 15vh;
    padding-left: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 25px;
}

.nav-list li {
    display: block;
}

.main-1 {
    background-size: cover;
    height: 300vh;
    text-align: center;
}

.titulo-1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.texto-1 {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: row;
    padding: 0 100px 0 100px;
    text-align: left;
}


.conteudo {
    height: 200vh;
    margin-bottom: 48px;
    padding: 20px 8%px;
    width: 100%;
    height: 100%;
    height: 180vh;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.video-fundo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -5

}

@media (min-aspect-ratio: 16/9) {
    .video-fundo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-fundo{
        width: auto;
        height: 100%;
    }
}


.conteudo-principal-titulo{
    
    margin-top: 190px;
    padding: 30px 0 25px 0px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', 'cursive';
    font-size: 48px;
    color: #fffb84;
}

.imgs {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    
}

.img {
    width: 300px;
    border-radius: 20px;

}

.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding: 5px;
}

.conteudo-principal-escrito-instagram {
    color: white;
    font-size: 15px;
    background-color: #002244;
    width: 190px;
    height: 65px;
    border: none;
    box-shadow: 8px 7px 7px #002244;
    border-radius: 30px;
    font-family: 'Sarala', sans-serif;
    padding: 10px;
    margin-left: 20px;
}

.conteudo-principal-escrito-instagram:hover {
    background-color: hwb(283 0% 0%)
}

.conteudo-principal-img {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #002244;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

footer {
    background-color: #23232e;
}

.rodape {
    padding-top: 5px;
    display: block;
    margin: 0 auto;
    
    
}

.info-rodape {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
